numpy==1.24.4
pyqt5==5.15.2
azure-ai-ml>=1.20.0
azure-cli>=2.64.0
azure-identity>=1.17.1
pyqtdarktheme
metashape @ https://download.agisoft.com/Metashape-2.2.3-cp37.cp38.cp39.cp310.cp311-none-win_amd64.whl ; platform_system == "Windows"
metashape @ https://download.agisoft.com/Metashape-2.2.3-cp37.cp38.cp39.cp310.cp311-abi3-linux_x86_64.whl ; platform_system == "Linux"